@model B2Handpicked.DomainModel.Invoice

<ul class="demo-list-two mdl-list">
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon"></i>
            <span>@Html.DisplayNameFor(model => model.Number)</span>
            <span class="mdl-list__item-sub-title">@Model.Number</span>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">attach_money</i>
            <span>@Html.DisplayNameFor(model => model.Value)</span>
            <span class="mdl-list__item-sub-title">@Html.DisplayFor(model => model.Value)</span>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">event</i>
            <span>@Html.DisplayNameFor(model => model.Date)</span>
            <span class="mdl-list__item-sub-title">@Model.Date.ToLongDateString()</span>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">business</i>
            <span>Customer</span>
            <span class="mdl-list__item-sub-title">@(Model.Customer?.Name ?? "None")</span>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon"></i>
            <span>Label</span>
            <span class="mdl-list__item-sub-title">@(Model.Label?.Name ?? "None")</span>
        </span>
    </li>
</ul>